a {
	border-bottom: 1px dotted #0099FF;
	color: #999999;
	text-decoration: none;
}

a:hover {
	background-color: #333333;
	border: 1px solid #666666;
	color: #3399CC;
	text-decoration: none;
}

BODY {
	background-color: #000000;
	color: #CCCCCC;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	margin: 0;
}

H1 {
	color: #9CB7C0;
	border-bottom: 1px solid #333333;
	font-size: 16px;	
	font-variant: small-caps;
	letter-spacing: 0.3em;	
}

H2 {
	border-bottom: 1px solid #66CCCC;
	color: #999999;
	font-size: 16px;
}

HR {
	background: url(images/hr.gif) no-repeat center;
	border: 0px;
	height: 40px;	
}

TABLE {
	margin: 0px auto;
	padding: 0px;
	width: 300px;
}

TH {
	border: 1px solid #666666;
	color: #666666;
	text-align: center;	
}

TD {
	border: 1px solid #333333;
	color: #666666;
	font-size: 10px;	
	text-align: left;
}

#MAIN {
	padding: 5px;
	margin-top: 0px;
	margin-right: 25%;
	margin-bottom: 0px;
	margin-left: 25%;
}

#HEADER {
	font-size: 10px;
	text-align: left;	
}

#CONTENT {
	border: thick groove #FFFFFF;
	margin: 5px;
	padding: 10px;
	text-align: left;
}

#FOOTER {
	font-size: 10px;
	margin: 5px;
	padding: 5px;
	text-align: center;	
}